.registro-form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual tamaño */
    gap: 1rem; /* Espacio entre inputs */
    margin-bottom: 1.5rem; /* Separación antes del link "Click to login" */
}

/* Clase para que un input ocupe las 2 columnas */
.span-two {
    grid-column: span 2;
}

.submit-button {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
}

.submit-button:hover {
    background-color: #e0e0e0;
}

.login-link {
    display: block;
    font-size: 0.9rem;
    color: #777;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
