@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,800&display=swap');

body {
    margin: 0; line-height: normal;
    width: 100vw;
    height: 100vh;
}

