.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(150.41deg, #999999 43.15%, #333333 152.75%);
}

.button:active {
    background: #000000;
}

.label {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem; /* Changed from px to rem for scalability */
    line-height: 1.2; /* Adjusted line-height for better readability */
    text-align: center;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}