.authButton {
    display: flex;

    width: 50%; /* Changed from fixed px to percentage for responsiveness */
    height: auto; /* Adjust height automatically based on content */
    max-width: 400px; /* Added max-width to prevent excessive growth */
    aspect-ratio: 400 / 120; /* Maintain the original aspect ratio */

    background: #E3E8EF;

    border: 4px solid #34BEED;
    box-shadow: 0 0 5px #34BEED, inset 10px 9px 60px #FFFFFF, inset 0 -10px 19px 16px #B1BCCA;
    border-radius: 170px;
}

.primary {
    background-color: #E3E8EF;
    color: white;
    border: 4px solid #34BEED;
    box-shadow: 0 0 5px #34BEED, inset 10px 10px 60px #FFFFFF, inset 0 -10px 20px 16px #B1BCCA;
    border-radius: 170px;
}

.primary:hover {
    background-color: #5a6268;
}

.primary:active {
    background-color: #000000;
}

.secondary {
    background-color: #6c757d;
    color: white;
    border: 2px solid #5a6268;
}

.secondary:hover {
    background-color: #0056b3;
    border-color: #003f7f;
}

.small {
    width: 30%;
    height: auto;
    max-width: 240px;
    aspect-ratio: 400 / 120;

    font-size: 1rem; /* Small font size */
    color: #000000;
}

.medium {
    width: 50%;
    height: auto;
    max-width: 400px;
    aspect-ratio: 400 / 120;

    font-size: 3rem; /* Medium font size */
    color: #000000;
}

.large {
    width: 70%;
    height: auto;
    max-width: 560px;
    aspect-ratio: 400 / 120;

    font-size: 6rem; /* Large font size */
    color: #000000;
}
