.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(142, 142, 147, 0.2);
}

.header {
    height: 20vh;
}
.body {
    height: 62vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.footer {
    height: 18vh;
}

.footerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: clamp(5vw, 10vw, 15vw);
    padding-right: clamp(5vw, 10vw, 15vw);
}

