.container {
    position: relative;
    width: 8vw;
    height: 12vh;
}

.bgSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: visible;
}

.shapeFill {
    stroke: none;
}

.topBorder {
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.profButton {
    background-color: #E3E8EF;
    border: 4px solid #34BEED;
    box-shadow: 0 0 5px #34BEED, inset 10px 10px 60px #FFFFFF, inset 0 -5px 10px 10px #B1BCCA;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.profButton img {
    object-fit: contain;
    clip-path: circle(50%);
}
