/* Homepage estilo Wii */
.homepageBody {
  font-family: "Nunito", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/home-page.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-text-dark);
  text-align: center;
  letter-spacing: -0.03em;
  text-shadow: none;
}

.authTitle {
  font-family: "Nunito", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-text-dark);
  text-align: center;
  text-shadow: none;
}
