.homepageBody {
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/home-page.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.authTitle {
    font-size: 4rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}
