.imagenContainer{
    margin: 100px; /* momentaneo */

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
    width: 480px;
    height: 260px;

    overflow: hidden;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.imagenContainer:hover .imagen{
    transform: scale(1.1);
    transition: transform 0.1s, opacity 0.3s;
    opacity: 0.2;
}

.imagenContainer:active{
    transform: scale(100);
    transition: transform 0.5s;
}