.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bgSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: visible;
}

/* Layer 1: The Gradient Background */
.shapeFill {
    /* REMOVED 'fill: #...'
       The fill is now handled in the TSX file via url(#customGradient) */

    stroke: none; /* Ensure no border on the background layer */
}

/* Layer 2: The Red Top Border */
.topBorder {
    fill: none;
    stroke: #34BEED;      /* Border Color */
    stroke-width: 5px;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.content h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3vh;
    color: black;
    z-index: 1;
}
